html, body {
    height: 100%;
    width: 100%; 
}

* {font-family: Verdana, Helvetica, serif;}

body {
    color: black;
    background-color: paleturquoise;
}

.navbar {
  height: 3%;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: darkblue;
  padding:1%;
  margin: 1%;
}

.left {
  gap: 5%;
  align-items: center;
  display: flex;
  flex-direction:  row;
}

.navbar a {
  float: center;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 150%;
}

.navbar h2 {
  font-family: Verdana, Helvetica, serif;
  float: center;
  color: gold;
  text-align: center;
  text-decoration: none;
  font-size: 150%;
}

.navbar b {
  float: center;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 150%;
}

.navbar #MB {
  color: gold;
  text-align: center;
  text-decoration: none;
  font-size: 100%;
}

.navbar a:hover {
  color: darkblue;
  background-color: lightgoldenrodyellow;
}

.navbar a.active {
  color: gold;
  background-color: blue;
}

a:hover{color: magenta}

ol {
  list-style-type: square;
}

#MB {
  font-family: Lucida Handwriting, monospace, serif;
  color: gold;
  text-align: center;
  border: .2em solid white;
  width: 4% em;
  height: 4% em;
  padding: .05em;
  margin: 1px;
}

.list {
  display: flex;
  flex-direction: column;
}

#self {
  display: block;
  width: auto;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
}

.main {
  text-align: center;
}

.Links {
  text-align: left;
  text-overflow: clip;
  font-size: 120%;
  background: beige;
  color: darkblue;
  list-style-position: inside;
  padding: 2%;
  margin: 10%;
}
